<div
  class="jumbotron"
  style="
    padding: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.105)),
      url(../../assets/img/Mainbackground.jpg);
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
  "
>
  <div class="jumbotron-text" style="margin-top: 20px; font-size: x-large">
   
    <h1>WELCOME TO THE FOOD WORLD</h1>
    <p class="card-text">

      Our platform is the best and user friendly for restaurants to use it as the main backend to facilitate your order
    </p>
    <div style="text-align: center">
      <button
        type="button"
        class="btn btn-outline-secondary"
        style="color: rgba(255, 255, 255, 0.863); font-size: x-large"
        routerLink="login"
      >
        Already Have an Account?</button
      >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button
        type="button"
        class="btn btn-outline-secondary"
        style="color: white; font-size: x-large"
        routerLink="register"
      >
        Wish to Create an Account?
      </button>
    </div>
    
  
    <footer class="text-center text-white" style="background-color: #caced1">
      <div
        class="text-center text-dark p-3"
        style="background-color: rgba(0, 0, 0, 0.2)"
      >
      <p style="color:rgba(255, 0, 0, 0.671);" >Launched in 2022, Our technology platform connects customers and restaurant partners to make their internal usage better. Staff/Restaurant uses our platform to properly order food and have a good data at the backend to the restaurant to use give your order and see your bills while order at restaurants.</p>
      </div>
    </footer>   
  </div>
  
</div>
 



